<header class="demo-drawer-header">
  <h4>Ember Dashboard</h4>
</header>

<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
  {{#link-to "index" class="mdl-navigation__link"}}<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Home{{/link-to}}

  {{#link-to "employees" class="mdl-navigation__link"}}<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">people</i>Employees{{/link-to}}
  
  {{#link-to "issue-graph" class="mdl-navigation__link"}}<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assessment</i>Issue Graph{{/link-to}}

  {{#link-to "issues" class="mdl-navigation__link"}}<i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">assignment</i>Issues{{/link-to}}

</nav>
