<header class="demo-drawer-header">
  <h4>Ember Dashboard</h4>
</header>

<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
  {{#link-to "index" class="mdl-navigation__link"}}
    <i class="material-icons">home</i>Home
  {{/link-to}}

  {{#link-to "employees" class="mdl-navigation__link"}}
    <i class="material-icons">people</i>Employees
  {{/link-to}}
  
  {{#link-to "issue-graph" class="mdl-navigation__link"}}
    <i class="material-icons">assessment</i>Issue Graph
  {{/link-to}}

  {{#link-to "issues" class="mdl-navigation__link"}}
    <i class="material-icons">assignment</i>Issues
  {{/link-to}}
  
  <p style="position: absolute; bottom: 15px; left: 45px; margin: auto;">
    <a href="https://github.com/yhagio/em-dashboard" target="_blank" style="text-decoration: none">
      <i class="material-icons">favorite</i><span style="vertical-align: top"> by yhagio</span>
    </a>
  </p>
</nav>
