<div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
  <i id="nav-open-button" class="material-icons"></i>
</div>

<div class="mdl-layout__header-row">
  <span class="mdl-layout-title">{{ title }}</span>
</div>
