html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

svg text {
  z-index: 20000;
}

.demo-layout .demo-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}

.demo-drawer {
  border: none;
}

.demo-drawer .demo-navigation {
  z-index: -2;
}

.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16px 16px;
  height: 120px;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.demo-content {
  max-width: 1080px;
}

.demo-navigation .mdl-navigation__link .material-icons {
  margin: 0 10px 0 0;
}


/* Home */

.home-stat {
  background-color: #673ab7;
}

/* Top Bar overwrite */
@media (min-width: 1025px) {
  .mdl-layout__header {
    margin-left: 200px;
    width: calc(100% - 200px);
  }
  .mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 200px;
  }
}

/* Sidebar overwrite */

.mdl-layout__drawer {
  width: 200px;
}

.demo-layout.mdl-layout.mdl-js-layout.mdl-layout--fixed-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
}

/* Content area */

.mdl-layout__content {
  overflow-x: scroll;
}

.chart {
  margin: auto;
  max-width: 700px;
  min-height: 300px;
}

/* geo map styling */
.us-map-area {
  min-width: 300px;
  /*max-width: 700px;*/
  min-height: 300px;
}

.employee-loc-title {
  /*margin: 20px;*/
  text-align: center;
}

.employee-map-area {
  text-align: center;
  min-width: 300px;
  min-height: 350px;
  margin-bottom: 40px;
}


@media (max-width: 630px) {
  .chart { 
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

/* Input (Issues view) */
.mdl-textfield {
  width: 100%;
}

.mdl-textfield__input {
  font-size: 1.2em;
  padding-left: 15px;
  outline: 0;
}

.no-result {
  margin: 10px;
  padding: 10px;
}


/* Table */
table {
  white-space: normal;
  width: 100%; 
  border-collapse: collapse; 
}

th {
  background-color: #dfdfdf;
  font-weight: bold;
}

th,
td { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* Stripe table rows */
tr:nth-of-type(odd) { 
  background: #eee; 
}

th:hover {
  cursor: pointer;
  background-color: #CCFFFF;
}

.selected-column {
  color: #0000ff;
}

.material-icons {
  display: none;
}

.table-header > .material-icons {
  display: block;
}

.email {
  word-wrap: break-word;
}

/* Responsive Table */
@media only screen and (max-width: 844px) {

  /* Make table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}

	thead { 
    display: none;
	}

  tr {
    border: 1px solid #ccc;
  }

  td {
    /* Behave like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 30%;
  }

  td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
    color: darkslateblue;
	}

  /* Label the data */
	td:nth-of-type(1):before { 
    content: "ID";
  }

	td:nth-of-type(2):before {
    content: "Status"; 
  }

	td:nth-of-type(3):before {
    content: "Description"; 
  }

	td:nth-of-type(4):before {
    content: "Customer"; 
  }

	td:nth-of-type(5):before {
    content: "Customer Email"; 
  }

	td:nth-of-type(6):before {
    content: "Submitted"; 
  }

	td:nth-of-type(7):before {
    content: "Employee"; 
  }

	td:nth-of-type(8):before {
    content: "Closed";  
  }
	
}