{{!-- 
Identifying the number of employees at various company locations:
- Display number of employees
- Google Map Integration for the location of employees
--}}

{{ top-bar title='Employees' }}

<main class="mdl-layout__content" style='text-align: center;'>

  <div class="pieContainer">
    <div id="donutchart" style="width: 600px; height: 400px; margin: auto;"></div>
  </div>

  <hr>
  
  <p><strong>Employee Locations</strong></p>
  <div id='map-canvas'>
  </div>
    
</main>
