{{!-- 
Identifying the number of employees at various company locations:
- Display number of employees
- Google Map Integration for the location of employees
--}}

{{ top-bar title='Employees' }}

<main class="mdl-layout__content" style='text-align: center, margin-bottom: 30px;'>

  <div class="pieContainer">
    <div id="donutchart" class="chart"></div>
  </div>

  <hr>
  
  <p class="employee-loc-title">
    <strong>Employee Locations</strong>
  </p>
  <div id='map-canvas' class="employee-map-area" style="margin:0 9px 20px; border: 1px solid #ccc;">
  </div>
    
</main>
