{{!-- 
Identifying the number of employees at various company locations:
- Display number of employees
- Google Map Integration for the location of employees
--}}

{{ top-bar title='Employees' }}

<main class="mdl-layout__content mdl-color--grey-100">

  <div id="svg-area"></div>

  <div id='map-canvas'></div>
    
</main>
