{{ top-bar title='Employees' }}

<main class="mdl-layout__content" style='text-align: center, margin-bottom: 30px;'>

  <div class="pieContainer">
    <div id="donutchart" class="chart"></div>
  </div>

  <hr>
  
  <p class="employee-loc-title">
    <strong>Employee Locations & Number</strong>
  </p>
  <div class="employee-loc-detail">
    <p class="employee-loc-detail-text"><strong class="map-label-color">0</strong> Boston: <span id="num-emp-Boston"></span></p>
    <p class="employee-loc-detail-text"><strong class="map-label-color">1</strong> Chicago: <span id="num-emp-Chicago"></span></p>
    <p class="employee-loc-detail-text"><strong class="map-label-color">2</strong> SanFrancisco: <span id="num-emp-SanFrancisco"></span></p>
    <p class="employee-loc-detail-text"><strong class="map-label-color">3</strong> Orlando: <span id="num-emp-Orlando"></span></p>
  </div>
  <div 
    id='map-canvas'
    class="employee-map-area"
    style="margin:0 9px 20px; border: 1px solid #ccc;">
  </div>
    
</main>
