{{!-- Issue Graph
- number of open issues
- a line chart reflecting number of paying customers over a period of time
- a bar chart reflecting number of reported issues over a period of time
 --}}
{{ top-bar title="Issue Graph" }}

<main class="mdl-layout__content">

  <div 
    id="curve_chart"
    class="chart">
  </div>
  
  <hr>

  <div 
    id="barchart_values"
    class="chart">
  </div>

  <hr>

  <div 
    id="issue_chart"
    class="chart"
    style="margin-bottom: 50px">
  </div>

</main>
