{{!-- Issue Graph
- number of open issues
- a line chart reflecting number of paying customers over a period of time
- a bar chart reflecting number of reported issues over a period of time
 --}}
{{ top-bar title="Issue Graph" }}

<main class="mdl-layout__content">
  {{!-- <div class="mdl-grid demo-content"> --}}

    <div 
      id="curve_chart"
      style="margin: auto; width: 700px; height: 300px;"></div>
    
    <hr>

    <div 
      id="barchart_values"
      style="margin: auto; width: 600px; height: 300px;"></div>

  {{!-- </div> --}}
</main>
