{{ top-bar title="Issue Graph" }}

<main class="mdl-layout__content">

  <div 
    id="curve_chart"
    class="chart">
  </div>
  
  <hr>

  <div 
    id="barchart_values"
    class="chart">
  </div>

  <hr>

  <div 
    id="issue_chart"
    class="chart"
    style="margin-bottom: 50px">
  </div>

</main>
