{{ top-bar title='Issues' }}

<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-grid demo-content">
    <ul>
    {{#each model as |data| }}
      <li><p>{{ data.id }} {{ data.customer_name }}</p></li>
    {{/each}}
    </ul>
  </div>
</main>